* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
}

.display {
  margin: 5vh auto;
  text-align: center;
  width: 1000px;
  background-color: rgb(0, 0, 0);
}

.text {
  font-size: 40px;
  color: red;
}

.container {
  margin-top: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 200px;
}

.btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.btn {
  width: 150px;
  background-color: rgb(0, 0, 0);
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  color: white;
  cursor: pointer;
  border: 3px solid white;
  padding: 5px 10px;
}

.active {
  background-color: rgb(255, 255, 255);
  color: black;
}
/* .btn:hover,
.btn:active {
  color: #ffffff;
} */

.btn:hover {
  transform: scale(1.1);
  transition: all 0.4;
}

.board-container {
  height: 400px;
  width: 400px;
  /* background-color: lightgreen; */
  display: grid;
  /* grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr); */
  /* row-gap: 1px;
  column-gap: 1px; */
}

.box {
  border: 0.1px solid rgb(170, 170, 170);
  background-color: white;
}
